[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiohttp-client-cache = "*"
aiosqlite = "*"
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
python-dotenv = "*"
isodate = "*"

[dev-packages]
requests = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
httpx = "*"

[requires]
python_version = "3.11"
