[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
requests = "*"
requests-cache = "*"
isodate = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
