<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>YouTube Playlist Duration</title>
</head>
<body class="text-center">
  <div class="container d-flex center">
    <main>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <h1>YouTube Playlist Duration</h1>
      <p>Paste a playlist link or id below.</p>
      <form action="{{ url_for('home') }}" method="post" id="pl-form" class="text-center">
        <input type="text" name="playlist" placeholder="https://www.youtube.com/playlist?list=ID">
        <button type="submit" class="btn" id="calculate">Calculate</button>
      </form>
      <div class="spinner"></div>
      <h2 class="py-3" id="result"></h2>
    </main>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>